<!DOCTYPE html>
<html lang="en" class="has-background-link-light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matinyay!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="./assets/styles.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar is-primary is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2" href="/"><span id="logo">Matinyay!</span></a>
        </div>
    </nav>
<div>
    {{{body}}}
</div>
</body>
</html>