
<div class="columns is-justify-content-center">
    <div class="column is-8">
        <div class="container">
        <div class="columns is-flex-wrap-wrap" id="movie-list">
             
        </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./assets/omdbscr.js" type="text/javascript"></script>



