<div class="container is-justify-content-center">
    <div class="container" id="messages">
        {{#each chats}}
            <p class="is-pulled-left" data-movieTicketNumber="{{this.dataValues.movieTicketNumber}}">{{this.dataValues.body}}</p>
            <br>
            <br>
        {{/each}}
    </div>
    <form id="form" action="">
    <input class="input" id="input" placeholder="Write something!" autocomplete="off" /><button class="button is-primary is-outlined">Send</button>
</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/assets/viewPartyScript.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/assets/viewPartyScript.js"></script>


